* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: rgba(12, 11, 11, 0.934);
    color: white;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: black;
    padding: 25px;
    padding-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 10px;
}

.navbar a:active {
    color: green;
}

.home {
    padding: 60px;
    padding-top: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.home .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}
.myphoto {
    width: 50%;
    height: 400px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 1px;
    margin: 10px;
    border-radius: 50%;
    border: solid 2px green;
}

.aboutme {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 60px;
    padding-top: 115px;
}

.aboutme .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.myskills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 20px;
    
}

.skills {
    display: flex;
    padding: 10px ;
    margin: 30px 15px;
}

.skills img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.python, .cpp, .html, .css, .js, .java {
    padding:25px;
    margin: 20px;
    box-shadow: 0px 0px 15px white;
    background-color: rgba(128, 128, 128, 0.235);
    border-radius: 20px;
} 

.python p, .cpp p, .html p, .css p, .jsp , .java p{
    padding: 10px;
    padding-bottom: 20px;
   
} 

.python:hover, .cpp:hover, .html:hover, .css:hover, .js:hover, .java:hover, .frontend:hover {
    box-shadow: 0px 0px 5px white;
    background-color: rgba(51, 62, 54, 0.235);
    border: solid 3px green;

} 

.myservices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 115px 20px;
}

.frontend {
    padding: 20px;
    margin: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px white;
}

.contactme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 20px;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}

.inputs input ,textarea{
    padding: 10px;
    margin: 20px;
    background-color: rgb(22, 19, 19);
    box-shadow: 0px 0px 8px white;
    color: white;
    font-size: larger;
}

.inputs input:last-child {
    background-color: green;
    color: white;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0px 0px 0px white;
    border-radius: 25px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}
