* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: rgb(16, 6, 6);
    color: white;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: black;
    padding: 25px;
    padding-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 10px;
}

.home {
    padding: 60px;
    padding-top: 115px;
    display: flex;
    justify-content: space-between;
}

.home .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}
.myphoto {
    width: 50%;
    height: 400px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 1px;
    margin: 10px;
    border-radius: 50%;
    border: solid 2px green;
}

.aboutme {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 60px;
}

.aboutme .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.myskills {
    display: flex;
    padding: 50px;
}